.root {
  display: flex;

  .aside {
    min-width: 20%;

  }

  .outlet{
    width: 75%;
  }

  .rightLine {
    margin-top: 20px;
    width: 1px;
    opacity: 0.5;
    height: 80vh;
    background: gray;
  }
}

